blockquote {
    background-color: #C70039;
    padding-right: 30px;
    padding-top:5px;
    padding-bottom:0px;
    font-size: 10px;
    color: #F9F1EF;
    line-height:50%;
    border-radius: 10px;
    border: 2px solid  #900C3F;
}

.edgvbvh9 {
    background-color: #FDE0D1;    
}

.css-1ey3m0n.edgvbvh{
    display : none;
}

.css-1ym9pdx.e1fqkh3o{
    width : 350px;
}
